/*
/////////////////////////// [style.css] ////////////////////////////
*/

/*
/////////////////////////// [custom property] ///////////////////////
*/

:root {
  
    /*
        ^00^ colors
    */
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /*
        ^01^ typography
    */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /*
        ^02^ border raduis
    */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /*
        ^03^ transition
    */
  
    --transition-timing: 0.2s ease;

    /*
      ^04^ Margin
    */

    --margin-md : 16px;
    --margin-sm : 6px;  
  }
   
/*
/////////////////////////// [REST] ///////////////////////
*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: none; }
  
  li { list-style: none; }
  
  button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  img, ion-icon, button, a { display: block; }
  
  span { display: inline-block; }
  
  html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
  }
  
  input {
    display: block;
    width: 100%;
    font: inherit;
    outline: none;
  }
  
  input::placeholder { font: inherit; }
  
  body { background: var(--white);}
  
   /*
        ^00^ scrollbar style
    */
  
  body::-webkit-scrollbar { width: 15px;}
  
  body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
  }
  
  body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

  
/*
/////////////////////////// [REUSED STYLE] ///////////////////////
*/
  
  .container { padding: 0 15px; }

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
      margin: auto;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 980px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }

  .has-scrollbar { padding-bottom: 5px; }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }

  /* 
    [SLIDER CONTAINER]
  */

  .slider-container {
    display: flex;
    gap: 8px;
    max-width: 100%;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    align-items: center;
  }

  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  
	.title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
  }
/* 
    ////////////////////// [Main] ///////////////////////////////
   */

   /*
        ^00^ overlay
    */

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, .5);
	opacity: 0;
	pointer-events: none;
	transition: .5 ease;
	z-index: 10;
	}

	.overlay.active {
	opacity: 1;
	pointer-events: all;
	}
/*
        ^01^ Modal
    */

	.modal {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: hsla(0, 0%, 0%, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		z-index: 10;
		animation: popup 1s ease-in-out 5s forwards;
	
	  }
	
	  .overlay-modal {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: hsla(0, 0%, 0%, .5);
		transition: .5 ease;
	  }
	
	  @keyframes popup {
		0% {
		  opacity: 0;
		  visibility: hidden;
		  pointer-events: none;
		}
	
		100% {
		  opacity: 1;
		  visibility: visible;
		  pointer-events: all;
		}
	  }
	
	  .modal.close { display: none; }
	
	  .modal-content {
		position: relative;
		max-width: 350px;
		margin: 20px;
		border-radius: var(--border-radius-md);
		overflow: hidden;
	  }
	
	  .modal-close-btn {
		position: absolute;
		right: 15px;
		top: 15px;
		padding: 3px;
		background-color: var(--salmon-pink);
		color: var(--white);
		border-radius: var(--border-radius-sm);
		cursor: pointer;
	  }
	
	  .modal-close-btn:hover { opacity: 0.9; }
	
	  .modal-close-btn ion-icon { --ionicon-stroke-width: 70px; }

	/*
        ^01 00^ Newsletter
    */
  .newsletter-image { display: none; }

  .newslatter-content {
    background-color: var(--white);
    padding: 50px 30px;
    text-align: center;
  }

  .newsletter-header {
    margin-bottom: var(--margin-md);
  }

  .newsletter-title {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
  }
  
  .newsletter-des {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
  }

  .newsletter-email {
    padding: 5px 10px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
  }

  .newsletter-email:focus { outline: 2px solid var(--eerie-black); } 

  .newsletter-email::placeholder { font-size: var(--fs-7); }

  .newsletter-btn {
    background-color: var(--eerie-black);
    color: var(--white);
    padding: 10px;
    margin: var(--margin-md) auto 0;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
  }

  .newsletter-btn:hover { background-color: var(--salmon-pink); }

	/*
        ^02^  Notification Toast
    */

	.notification-toast {
		position: fixed;
		bottom: 80px;
		left: 15px;
		background-color: var(--white);
		display: flex;
		padding: 15px;
		align-items: center;
		max-width: 300px;
		border-radius: var(--border-radius-sm);
		box-shadow: 0 5px 20px hsl(0deg 0% 0% / 15%);
		transform: translateX(-100%);
		transition: var(--transition-timing);
		animation: popshow 10s ease-in-out infinite;
		z-index: 5;
	  }
	
	  @keyframes popshow {
		0%, 45% , 100%{
		  transform: translateX(-100%);
		  opacity: 0;
		  visibility: hidden;
		}
		50%, 95% {
		  transform: translateX(0);
		  opacity: 1;
		  visibility: visible;
		}
	  }
	
	  .notification-toast.close { display: none; }
	
	  .toast-close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
	  }
	
	  .toast-close-btn ion-icon {
		--ionicon-stroke-width: 50px;
		color: var(--davys-gray);
		cursor: pointer;
	  }
	
	  /*
			^02 00^ Notification Image
		*/
	
	  .notification-image {
		flex-basis: 70px;
	  }
	
	  .notification-image img {
		width: 100%;
		object-fit: contain;
		border: 1px solid var(--cultured);
	  }
	
	  /*
			^02 01^ Notification Content
		*/
	
	  .notification-content { margin-left: 15px; padding-right: 10px;}
	
	  .notification-msg {
		font-size: var(--fs-10);
		color: var(--davys-gray);
		margin-bottom: var(--margin-sm);
	  }
	
	  .notification-title {
		font-weight: var(--weight-500);
		font-size: var(--fs-7);
	  }
	
	  .notification-timing {
		font-size: var(--fs-10);
		color: var(--davys-gray);
	  }
	/*
        ^03^ Header
    */

    /* 
      ^03 00^ Top Header
    */

    .top-header {
		display: none;
		border-bottom: 1px solid var(--cultured); 
		padding: 10px 0;
	  }
  
	  .top-header-social { gap: 5px; }
  
	  .top-header-social a { 
		color: var(--davys-gray);
		padding: 5px;
		background-color: var(--cultured);
		border-radius: var(--border-radius-sm);
		opacity: .8;
	  }
  
	  .top-header-social a:hover {
		background-color: var(--salmon-pink);
		color: var(--white);
	  }
  
	  .top-header-social a ion-icon { font-size: 17px; }
  
	  .top-header-pup {
		font-size: var(--fs-9);
		color: var(--sonic-silver);
	  }
  
	  .top-header-lang select {
		padding: 8px;
		background: var(--cultured);
		border: none;
		color: var(--davys-gray);
		text-transform: uppercase;
		outline: none;
		font-size: var(--fs-9);
		cursor: pointer;
	  }
  
	  .top-header-lang select option { padding: 10px; }
  
	  .top-header-lang select:hover { color: var(--eerie-black); }