/*
/////////////////////////// [style.css] ////////////////////////////
*/

/*
/////////////////////////// [custom property] ///////////////////////
*/

:root {
  
    /*
        ^00^ colors
    */
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /*
        ^01^ typography
    */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /*
        ^02^ border raduis
    */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /*
        ^03^ transition
    */
  
    --transition-timing: 0.2s ease;

    /*
      ^04^ Margin
    */

    --margin-md : 16px;
    --margin-sm : 6px;  
  }
   
/*
/////////////////////////// [REST] ///////////////////////
*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: none; }
  
  li { list-style: none; }
  
  button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  img, ion-icon, button, a { display: block; }
  
  span { display: inline-block; }
  
  html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
  }
  
  input {
    display: block;
    width: 100%;
    font: inherit;
    outline: none;
  }
  
  input::placeholder { font: inherit; }
  
  body { background: var(--white);}
  
   /*
        ^00^ scrollbar style
    */
  
  body::-webkit-scrollbar { width: 15px;}
  
  body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
  }
  
  body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

  
/*
/////////////////////////// [REUSED STYLE] ///////////////////////
*/
  
  .container { padding: 0 15px; }

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
      margin: auto;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 980px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }

  .has-scrollbar { padding-bottom: 5px; }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }

  /* 
    [SLIDER CONTAINER]
  */

  .slider-container {
    display: flex;
    gap: 8px;
    max-width: 100%;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    align-items: center;
  }

  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  
	.title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
  }
/* 
    ////////////////////// [Main] ///////////////////////////////
   */

   /*
        ^00^ overlay
    */

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, .5);
	opacity: 0;
	pointer-events: none;
	transition: .5 ease;
	z-index: 10;
	}

	.overlay.active {
	opacity: 1;
	pointer-events: all;
	}
/*
        ^01^ Modal
    */

	.modal {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: hsla(0, 0%, 0%, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		z-index: 10;
		animation: popup 1s ease-in-out 5s forwards;
	
	  }
	
	  .overlay-modal {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: hsla(0, 0%, 0%, .5);
		transition: .5 ease;
	  }
	
	  @keyframes popup {
		0% {
		  opacity: 0;
		  visibility: hidden;
		  pointer-events: none;
		}
	
		100% {
		  opacity: 1;
		  visibility: visible;
		  pointer-events: all;
		}
	  }
	
	  .modal.close { display: none; }
	
	  .modal-content {
		position: relative;
		max-width: 350px;
		margin: 20px;
		border-radius: var(--border-radius-md);
		overflow: hidden;
	  }
	
	  .modal-close-btn {
		position: absolute;
		right: 15px;
		top: 15px;
		padding: 3px;
		background-color: var(--salmon-pink);
		color: var(--white);
		border-radius: var(--border-radius-sm);
		cursor: pointer;
	  }
	
	  .modal-close-btn:hover { opacity: 0.9; }
	
	  .modal-close-btn ion-icon { --ionicon-stroke-width: 70px; }

	/*
        ^01 00^ Newsletter
    */
  .newsletter-image { display: none; }

  .newslatter-content {
    background-color: var(--white);
    padding: 50px 30px;
    text-align: center;
  }

  .newsletter-header {
    margin-bottom: var(--margin-md);
  }

  .newsletter-title {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
  }
  
  .newsletter-des {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
  }

  .newsletter-email {
    padding: 5px 10px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
  }

  .newsletter-email:focus { outline: 2px solid var(--eerie-black); } 

  .newsletter-email::placeholder { font-size: var(--fs-7); }

  .newsletter-btn {
    background-color: var(--eerie-black);
    color: var(--white);
    padding: 10px;
    margin: var(--margin-md) auto 0;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
  }

  .newsletter-btn:hover { background-color: var(--salmon-pink); }

	/*
        ^02^  Notification Toast
    */

	.notification-toast {
		position: fixed;
		bottom: 80px;
		left: 15px;
		background-color: var(--white);
		display: flex;
		padding: 15px;
		align-items: center;
		max-width: 300px;
		border-radius: var(--border-radius-sm);
		box-shadow: 0 5px 20px hsl(0deg 0% 0% / 15%);
		transform: translateX(-100%);
		transition: var(--transition-timing);
		animation: popshow 10s ease-in-out infinite;
		z-index: 5;
	  }
	
	  @keyframes popshow {
		0%, 45% , 100%{
		  transform: translateX(-100%);
		  opacity: 0;
		  visibility: hidden;
		}
		50%, 95% {
		  transform: translateX(0);
		  opacity: 1;
		  visibility: visible;
		}
	  }
	
	  .notification-toast.close { display: none; }
	
	  .toast-close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
	  }
	
	  .toast-close-btn ion-icon {
		--ionicon-stroke-width: 50px;
		color: var(--davys-gray);
		cursor: pointer;
	  }
	
	  /*
			^02 00^ Notification Image
		*/
	
	  .notification-image {
		flex-basis: 70px;
	  }
	
	  .notification-image img {
		width: 100%;
		object-fit: contain;
		border: 1px solid var(--cultured);
	  }
	
	  /*
			^02 01^ Notification Content
		*/
	
	  .notification-content { margin-left: 15px; padding-right: 10px;}
	
	  .notification-msg {
		font-size: var(--fs-10);
		color: var(--davys-gray);
		margin-bottom: var(--margin-sm);
	  }
	
	  .notification-title {
		font-weight: var(--weight-500);
		font-size: var(--fs-7);
	  }
	
	  .notification-timing {
		font-size: var(--fs-10);
		color: var(--davys-gray);
	  }
	/*
        ^03^ Header
    */

    /* 
      ^03 00^ Top Header
    */

    .top-header {
		display: none;
		border-bottom: 1px solid var(--cultured); 
		padding: 10px 0;
	  }
  
	  .top-header-social { gap: 5px; }
  
	  .top-header-social a { 
		color: var(--davys-gray);
		padding: 5px;
		background-color: var(--cultured);
		border-radius: var(--border-radius-sm);
		opacity: .8;
	  }
  
	  .top-header-social a:hover {
		background-color: var(--salmon-pink);
		color: var(--white);
	  }
  
	  .top-header-social a ion-icon { font-size: 17px; }
  
	  .top-header-pup {
		font-size: var(--fs-9);
		color: var(--sonic-silver);
	  }
  
	  .top-header-lang select {
		padding: 8px;
		background: var(--cultured);
		border: none;
		color: var(--davys-gray);
		text-transform: uppercase;
		outline: none;
		font-size: var(--fs-9);
		cursor: pointer;
	  }
  
	  .top-header-lang select option { padding: 10px; }
  
	  .top-header-lang select:hover { color: var(--eerie-black); }
	  /* 
      ^03 01^ Main Header
    */

    .main-header { border-bottom: 1px solid var(--cultured); padding: 20px 0;}

    .main-header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .main-header-logo a {
      color: var(--eerie-black);
      margin-bottom: 10px;
    }

    .main-header-search form input {
      padding: 5px 10px;
      border: 1px solid var(--cultured);
      border-radius: var(--border-radius-md);
      padding-right: 50px;
      color: var(--onyx);
    }

    .main-header-search form { position: relative; }

    .main-header-search form::after {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-family: "Font Awesome 5 Free";
      content: "\f002";
      font-weight: 900;
      color: var(--onyx);
      font-size: var(--fs-7);
      cursor: pointer;
    }

    .main-header-search form:hover::after { color: var(--salmon-pink); }

    .main-header-search form input::placeholder { font-size: var(--fs-7); }

    .main-header-search form input:focus { outline: 2px solid var(--eerie-black); }

    .main-header-nav {
      display: none;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }

    .main-header-nav ion-icon {
      font-size: 35px;
      color: var(--eerie-black);
      cursor: pointer;
    }
	/* 
      #Global news class
     */

	 li.news { position: relative; }

	 li.news::after {
	   position: absolute;
	   top: -8px;
	   right: -8px;
	   width: 16px;
	   height: 16px;
	   background-color: var(--salmon-pink);
	   border-radius: 50%;
	   content: "0";
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   color: var(--white);
	   font-size: var(--fs-10);
	 }
 
	 /* 
	   ^03 02^ Mobile Navigation
	 */
 
	 .mobile-nav {
	   position: fixed;
	   bottom: 0;
	   left: 50%;
	   transform: translateX(-50%);
	   width: 100%;
	   max-width: 500px;
	   background-color: var(--white);
	   box-shadow: 0 -8px 10px rgba(0, 0, 0, .1);
	   padding: 20px 20px;
	   z-index: 5;
	 }
 
	 .mobile-nav-list {
	   display: flex;
	   justify-content: space-around;
	   align-items: center;
	 }
 
	 .mobile-nav-list li ion-icon {
	   font-size: 26px;
	   color: var(--eerie-black);
	   cursor: pointer;
	 }
 /* 
      ^03 03^ Mobile Menu
    */

    .mobile-menu {
		position: fixed;
		top: 0;
		left: -100%;
		visibility: hidden;
		width: 100%;
		height: 100vh;
		max-width: 330px;
		background: var(--white);
		padding: 20px 30px 20px 20px;
		overflow: auto;
		transition: .5s ease;
		z-index: 15;
	  }
  
	  .mobile-menu.active {
		left: 0;
		visibility: visible;
	  }
  
	  .mobile-menu-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		border-bottom: 2px solid var(--cultured);
	  }
  
	  .mobile-menu-title {
		color: var(--salmon-pink);
		font-size: var(--fs-3);
		font-weight: var(--weight-500);
	  }
  
	  .mobile-menu-close-btn {
		--ionicon-stroke-width: 70px;
		color: var(--onyx);
		font-size: var(--fs-3);
		cursor: pointer;
	  }
  
	  .mobile-menu-categories { margin: 10px 0; }
  
	  .categories-main-list { 
		border-bottom: 1px solid var(--cultured);
	  }
  
	  .categories-main-list-header {
		padding: 12px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }
  
	  .categorie-title {
		color: var(--onyx);
		font-size: var(--fs-6);
		font-weight: var(--weight-500);
	  }
  
	  .categorie-details-icon ion-icon {
		--ionicon-stroke-width: 50px;
		color: var(--eerie-black);
		cursor: pointer;
	  }
  
	  .categorie-details-list li {
		padding: 10px;
		color: var(--sonic-silver);
	  }
  
	  .categorie-details-list li a { 
		color: inherit; 
		font-size: var(--fs-6);
	  }
  
	  .categorie-details-list { 
		max-height: 0;
		visibility: hidden;
		overflow: hidden;
		transition: .5s ease-in-out;
	  } 
  
	  .categories-main-list.active .categorie-details-list {
		max-height: 200px;
		visibility: visible;
	  }
	   /* 
      ^03 04^ Desktop Navigation
    */

    .desktop-navigation-box { display: none; }

    .desktop-category-list {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 50px;
      align-items: center;
      position: relative;
    }

    .category:not(:nth-child(2)) { position: relative; }
  
    .category .category-title {
      padding: 12px 0;
      font-size: var(--fs-7);
      color: var(--onyx);
      text-transform: uppercase;
      font-weight: var(--weight-600);
      position: relative;
    }

    .category .category-title::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--salmon-pink);
      transition: var(--transition-timing);
      content: "";
    }

    .category:hover .category-title::after { width: 100%; }

    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: var(--border-radius-md);
      padding: 20px;
      background: var(--white);
      box-shadow: 0 2px 10px hsl(0deg 0% 0% / 10%);
      width: 200px;
      visibility: hidden;
      opacity: 0;
      transform: translateY(50%);
      pointer-events: none;
      transition: var(--transition-timing);
      z-index: 5;
    }

    .dropdown-list-items {
      color: var(--davys-gray);
      text-transform: capitalize;
      margin-bottom: 10px;
      font-size: var(--fs-6);
      cursor: pointer;
      transition: var(--transition-timing);
    }

    .dropdown-list-items:hover {
      color: var(--salmon-pink);
    }

    .category:hover .dropdown-list,
    .category:hover .dropdown-panel {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }

    /* 
      ^03 05^ [DropDown Panel]
    */

    .dropdown-panel {
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: var(--border-radius-md);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: var(--white);
      box-shadow: 0 2px 10px hsl(0deg 0% 0% / 15%);
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(5%);
      pointer-events: none;
      transition: var(--transition-timing);
      z-index: 5;
    }

    .menu-title {
      color: var(--onyx);
      font-size: var(--fs-7);
      text-transform: capitalize;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--cultured);
    }

    .dropdown-list-items-img {
      margin-top: 20px;
      max-width: 100%;
      object-fit: contain;
    }
/* 
      ^04^ Main
    */

    /* 
      ^04 01^ banner
    */

    .main-banner { margin: 30px 0; }

    .slider-item {
      min-width: 100%;
      max-height: 450px;
      position: relative;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      border-radius: var(--border-radius-sm);
    }

    .slider-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }

    .slider-content {
      position: absolute;
      background-color: hsla(0, 0%, 100%, 0.8);
      border-radius: var(--border-radius-md);
      padding: 25px;
      left: 15px;
      right: 15px;
      bottom: 15px;
    }

    .slider-content .subtitle {
      color: var(--salmon-pink);
      text-transform: capitalize;
      font-size: var(--fs-7);
      font-weight: var(--weight-500);
    }

    .slider-content .main-title {
      text-transform: uppercase;
      line-height: 1;
      margin: 10px 0;
      padding-right: 30px;
      color: var(--eerie-black);
    }

    .slider-content .starting-price { 
      display: none; 
      color: #787878;
      margin-top: var(--margin-md);
      margin-bottom: var(--margin-sm);
      font-size: var(--fs-7);
      font-weight: var(--weight-500);
    }

    .slider-content .starting-price b {
      font-size: var(--fs-2);
    }

    .slider-content .shop-btn {
      background-color: var(--salmon-pink);
      text-transform: uppercase;
      font-size: var(--fs-11);
      font-weight: var(--weight-600);
      color: var(--white);
      border-radius: var(--border-radius-sm);
      padding: 5px 10px;
      transition: var(--transition-timing);
    }

    .slider-content .shop-btn:hover {
      background: var(--eerie-black);
      color: var(--white);
    }
	 /* 
      ^04 02^ category cards
    */

    .category-card-box { margin-bottom: 30px; }

    .category-card-container {
      gap: 15px;
    }

    .category-card {
      padding: 15px;
      border-radius: var(--border-radius-sm);
      background-color: var(--white);
      display: flex;
      gap: 10px;
      align-items: center;
      border: 1px solid var(--cultured);
      min-width: 100%;
    }

    .category-card-image {
      width: 50px;
      height: 50px;
      background-color: var(--cultured);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--border-radius-sm);
      border: 1px solid hsl(0, 0%, 80%);
    }

    .category-card-content { flex: 1; }

    .card-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-content-header h4 {
      color: var(--onyx);
      font-size: var(--fs-7);
      text-transform: uppercase;
    }

    .card-content-header .counter {
      font-size: var(--fs-10);
      color: var(--sonic-silver);
    }

    .card-content-link {
      color: var(--salmon-pink);
      font-size: var(--fs-9);
      font-weight: var(--weight-500);
      margin-top: 10px;
    }
	/* 
      ^04 03^ Our products
    */

    .products-box { width: 100%; }

    .special-product {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    .special-product > div { width: 100%; }

    .special-product-section-container { gap: 10px; }

    .special-product-container-col { min-width: calc(100% - 5px); }

    .special-product-section-item {
      padding: 15px;
      border-radius: var(--border-radius-sm);
      background-color: var(--white);
      display: flex;
      gap: 10px;
      align-items: center;
      border: 1px solid var(--cultured);
      margin-bottom: 15px;
    }

    .special-product-section-item-content { flex: 1; max-width: calc(100% - 80px);}

    .item-content-title {
      font-size: var(--fs-7);
      color: var(--eerie-black);
      font-weight: var(--weight-600);
      white-space: nowrap;
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-content-name {
      font-size: var(--fs-8);
      color: var(--onyx);
      cursor: pointer;
    }

    .item-content-name:hover { color: var(--salmon-pink); }

    .new-price {
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      color: var(--salmon-pink);
    }

    .old-price {
      font-size: var(--fs-9);
      color: var(--sonic-silver);
      text-transform: capitalize;
    }

    /* 
      ^04 03^ Desktop aside
    */

      /* .desktop-aside { display: none;} */

    .desktop-aside {
      position: fixed;
      left: 0;
      top: 0;
      background-color: var(--white);
      padding: 30px;
      width: 100%;
      min-width: calc(25% - 15px);
      max-width: 320px;
      height: 100vh;
      z-index: 10;
      overflow: hidden;
      visibility: hidden;
      transition: .5s ease-in-out;
      transform: translateX(-100%);
      overscroll-behavior: auto;
    }

    .desktop-aside.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      overflow: auto;
    }

    .desktop-aside-close-btn {
      position: absolute;
      top: 32px;
      right: 29px;
    }

    .desktop-aside-close-btn ion-icon {
      --ionicon-stroke-width: 70px;
      font-size: var(--fs-3);
      cursor: pointer;
    }

    .aside-title {
      font-size: var(--fs-5);
      text-transform: uppercase;
      color: var(--onyx);
      margin-bottom: 10px;
      font-weight: var(--weight-500);
    }

    .category-list-header {
      display: flex;
      padding: 6px 0;
      align-items: center;
      justify-content: space-between;
      min-width: 100%;
    }

    .list-header-content {
      flex: 1;
      display: flex;
      gap: 7px;
      text-transform: capitalize;
    }

    .list-header-content .name {
      font-size: var(--fs-5);
      font-weight: var(--weight-400);
      color: var(--sonic-silver);
      font-weight: var(--weight-500);
    }

    .list-header-details-control .hidden { display: none; }

    .list-header-details-control ion-icon { 
      cursor: pointer; 
      color: var(--onyx);
    }

    .category-list-details { 
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      border-top: 1px solid var(--cultured);
      transition: .5s ease-in-out;
    }

    .aside-category-list.active .category-list-details {
      padding: 13px 0 6px;
      max-height: 122px;
      visibility: visible;
    }

    .aside-category-list.active  .show { display: none; }
    
    .aside-category-list.active  .hidden { display: block; }

    .category-list-details li { padding: 2px 0; }

    .category-list-details li a { 
      display: flex;
      justify-content: space-between;
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      transition: var(--transition-timing);
    }

    .category-list-details li a:hover { color: var(--eerie-black)}

    .aside-best-sellers { margin: 30px 0; }

    .best-sellers-box {
      margin: 15px 0;
      padding: 2px 0;
      display: flex;
      gap: 10px;
      background-color: var(--white);
    }

    .best-sellers-box-image {
      border-radius: var(--border-radius-sm);
      overflow: hidden;
    }

    .sellers-box-content-title h4 {
      font-size: var(--fs-7);
      font-weight: var(--weight-400);
      color: var(--eerie-black);
    }

    .sellers-box-content-rating ion-icon {
      display: inline-block;
      font-size: var(--fs-8);
      color: var(--sandy-brown);
    }

    .sellers-box-content-prices .new-price { 
      color: var(--eerie-black); 
      margin-left: 5px;
      font-size: var(--fs-5);
    }
	   /* 
      ^04 04^ deal of day product
    */

    .deal-of-day-products-container { margin-bottom: 20px; }

    .deal-of-day-products {
      overflow-x: auto;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 15px;
      overscroll-behavior-inline: contain;
      scroll-snap-type: inline mandatory;
    }

    .deal-of-day-products-box {
      border: 1px solid var(--cultured);
      padding: 15px;
      border-radius: var(--border-radius-md);
      overflow: hidden;
      min-width: 100%;
      scroll-snap-align: start;
    }

    .product-box-image img {
      width: 100%;
      max-width: 450px;
      margin: auto;
    }

    .product-rating {
      display: flex;
      margin: 15px 0;
    }

    .product-rating ion-icon {
      --ionicon-stroke-width: 50px;
      color: var(--sandy-brown);
      --ionicon-stroke-color : red;
    }

    .product-desc-title h4 {
      white-space: nowrap;
      margin-bottom: 5px;
      font-size: var(--fs-7);
      color: var(--eerie-black);
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .product-desc-text {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      line-height: .9;
      margin-bottom: 10px;
    }

    .product-pricing { margin-bottom: 10px; }

    .product-pricing .new-price { font-size: var(--fs-3); }

    .product-pricing .old-price {
      font-size: var(--fs-3);
      margin-left: 5px;
    }

    .add-cart-btn {
      background-color: var(--salmon-pink);
      color: var(--white);
      text-transform: uppercase;
      font-weight: var(--weight-600);
      font-size: var(--fs-6);
      padding: 8px 15px;
      border-radius: var(--border-radius-md);
      margin-bottom: 10px;
      transition: var(--transition-timing);
    }

    .add-cart-btn:hover { background-color: var(--eerie-black); }

    .product-status { margin-bottom: 10px; }

    .product-status-header {
      display: flex;
      justify-content: space-between;
      font-size: var(--fs-9);
      color: var(--eerie-black);
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .product-status-progress {
      background-color: hsl(0deg 0% 0% / 6%);
      height: 12px;
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-sm);
      overflow: hidden;
      margin-bottom: 10px;
    }

    .product-status-progress .progress-value {
      width: 30%;
      background-color: var(--salmon-pink);
      height: 4px;
      border-radius: var(--border-radius-sm);
    }

    .product-countdown-msg {
      font-size: var(--fs-8);
      font-weight: var(--weight-600);
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .countdown-box {
      display: flex;
      gap: 5px;
    }

    .countdown-content {
      background-color: hsl(0deg 0% 0% / 6%);
      border-radius: var(--border-radius-md);
      width: 50px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--eerie-black);
    }

    .display-number {
      font-weight: var(--weight-500);
      font-size: var(--fs-6);
    }

    .display-text {
      font-size: var(--fs-8);
      text-transform: capitalize;
      color: var(--onyx);
    }

    .new-products { margin-bottom: 20px; }

    .new-products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      gap: 20px;
      align-items: center;
    }

    .new-product-box {
      border: 1px solid var(--cultured);
      border-radius: var(--border-radius-md);
      overflow: hidden;
      position: relative;
      padding: 20px;
      background-color: var(--white);
      position: relative;
      transition: var(--transition-timing);
    }

    .new-product-box:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .new-product-box-badge {
      padding: 2px 8px;
      font-weight: var(--weight-600);
      font-size: var(--fs-9);
      opacity: .9;
      color: var(--white);
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 4;
    }

    .new-product-box-badge.percentage {
      background-color: var(--ocean-green);
      border-radius: var(--border-radius-sm);
    }

    .new-product-box-badge.sale,
    .new-product-box-badge.new {
      background-color: var(--eerie-black);
      transform: rotate(-45deg) translateX(-50%);
      transform-origin: top left;
      width: 90px;
      text-align: center;
      text-transform: uppercase;
      
    }

    .new-product-box-badge.sale { background-color: var(--eerie-black); }
    .new-product-box-badge.new { background-color: var(--salmon-pink); }

    .new-product-box-images { 
      position: relative; 
      margin: 0 0 20px;
    }

    .new-product-box-image  {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition-timing);
    }

    .new-product-box-image.default {
      position: relative;
      z-index: 2;
    }
    
    .new-product-box-image.hover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }

    .new-product-box:hover .new-product-box-image.hover {
      z-index: 2;
      opacity: 1;
      transform: scale(1.1);
    }

    .new-product-box:hover .new-product-box-image.default {
      z-index: 1;
      opacity: 0;
    }

    .new-product-box-actions {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      z-index: 3;
      transform: translateX(150%);
      transition: var(--transition-timing);
    }

    .action-box {
      padding: 5px;
      border-radius: var(--border-radius-sm);
      border: 1px solid var(--cultured);
      color: var(--sonic-silver);
      cursor: pointer;
      background-color: var(--white);
      transition: var(--transition-timing);
    }

    .action-box:hover {
      background-color: var(--eerie-black);
      color: var(--white);
    }

    .action-box ion-icon {
      font-size: var(--fs-3);
      --ionicon-stroke-width: 30px;
    }

    .new-product-box:hover .new-product-box-actions {
      transform: translateX(0);
    }

    .new-product-box-content-title h4 {
      text-transform: uppercase;
      font-weight: var(--weight-400);
      color: var(--salmon-pink);
      font-size: var(--fs-8);
      margin-bottom: 10px;
    }

    .new-product-box-content-desc { margin-bottom: 10px; }

    .new-product-box-content-desc a {
      color: var(--sonic-silver);
      font-size: var(--fs-10);
    }

    .new-product-box-content-rating {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
    }

    .new-product-box-content-rating ion-icon {
      color: var(--sandy-brown);
      font-size: var(--fs-6);
    }

    .new-product-box-content-pricing { 
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .new-product-box-content-pricing .new-price { color: var(--eerie-black);}

    .new-product-box-content-pricing .old-price { font-size: var(--fs-6);}

	.testimonials { margin: 30px 0;}

    .testimonials .container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: flex-start;
      gap: 20px;
    }

    .testimonial-card {
      border: 1px solid var(--cultured);
      border-radius: var(--border-radius-sm);
      -webkit-border-radius: var(--border-radius-sm);
      -moz-border-radius: var(--border-radius-sm);
      -ms-border-radius: var(--border-radius-sm);
      -o-border-radius: var(--border-radius-sm);
      padding: 30px;
      background: var(--white);
      text-align: center;
    }

    .user-img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 auto 20px;
    }

    .user-name {
      color: var(--sonic-silver);
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .user-job {
      font-size: var(--fs-7);
      color: var(--onyx);
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    .user-qoute-img { margin: 0 auto 10px; }

    .user-quote-text {
      font-size: var(--fs-7);
      color: var(--sonic-silver);
      line-height: 1.3;
    }

    .collection-box {
      position: relative;
      border-radius: var(--border-radius-sm);
      -webkit-border-radius: var(--border-radius-sm);
      -moz-border-radius: var(--border-radius-sm);
      -ms-border-radius: var(--border-radius-sm);
      -o-border-radius: var(--border-radius-sm);
      overflow: hidden;
      min-height: 370px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .collection-img-banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .collection-content {
      position: relative;
      background: #ffffffb3;
      padding: 15px 20px;
      border-radius: var(--border-radius-md);
      -webkit-border-radius: var(--border-radius-md);
      -moz-border-radius: var(--border-radius-md);
      -ms-border-radius: var(--border-radius-md);
      -o-border-radius: var(--border-radius-md);
    }

    .discount {
      background-color: var(--eerie-black);
      color: var(--white);
      font-size: var(--fs-11);
      padding: 2px 5px;
      text-transform: uppercase;
      font-weight: var(--weight-600);
      border-radius: var(--border-radius-sm);
      -webkit-border-radius: var(--border-radius-sm);
      -moz-border-radius: var(--border-radius-sm);
      -ms-border-radius: var(--border-radius-sm);
      -o-border-radius: var(--border-radius-sm);
      margin-bottom: 8px;
    }
    
    .collection-title {
      text-transform: capitalize;
      color: var(--onyx);
      margin-bottom: 8px;
    }

    .collection-text {
      color: var(--sonic-silver);
      font-size: var(--fs-6);
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    .collection-btn {
      color: var(--sonic-silver);
      font-size: var(--fs-8);
      font-weight: var(--weight-700);
      text-transform: uppercase;
    }

    .service-card {
      border: 1px solid var(--cultured);
      border-radius: var(--border-radius-sm);
      -webkit-border-radius: var(--border-radius-sm);
      -moz-border-radius: var(--border-radius-sm);
      -ms-border-radius: var(--border-radius-sm);
      -o-border-radius: var(--border-radius-sm);
      background-color: var(--white);
      margin-bottom: 10px;
      padding: 30px 15px;
      display: flex;
      gap: 30px 15px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .card-box {
      display: flex;
      gap: 15px;
      align-items: center;
      min-width: 195px;
    }

    .card-box-icon ion-icon {
      font-size: 30px;
      --ionicon-stroke-width: 25px;
      color: var(--salmon-pink);
    }

    .card-box-content-title {
      font-size: var(--fs-7);
      color: var(--sonic-silver);
      font-weight: var(--weight-600);
    }

    .card-box-content-text {
      font-size: var(--fs-8);
      color: var(--sonic-silver);
    }

	.blog {
		margin: 30px 0;
	  }
  
	  .blog-banner {
		display: flex;
		gap: 15px;
		align-items: center;
		overflow-x: auto;
		scroll-snap-type: inline mandatory;
		overscroll-behavior-inline: contain;
	  }
  
	  .blog-item {
		background-color: var(--white);
		min-width: 100%;
		width: 100%;
		scroll-snap-align: start;
	  }
  
	  .blog-image {
		width: 100%;
		border-radius: var(--border-radius-md);
		-webkit-border-radius: var(--border-radius-md);
		-moz-border-radius: var(--border-radius-md);
		-ms-border-radius: var(--border-radius-md);
		-o-border-radius: var(--border-radius-md);
		margin-bottom: 20px;
	  }
  
	  .blog-content-category {
		color: var(--salmon-pink);
		font-size: var(--fs-6);
		text-transform: capitalize;
		margin-bottom: 6px;
	  }
	  
	  .blog-content-title {
		color: var(--eerie-black);
		font-size: var(--fs-5);
		line-height: 1.3;
		margin-bottom: 10px;
		transition: var(--transition-timing);
		-webkit-transition: var(--transition-timing);
		-moz-transition: var(--transition-timing);
		-ms-transition: var(--transition-timing);
		-o-transition: var(--transition-timing);
		text-transform: capitalize;
  }
  
	  .blog-content-title:hover { color: var(--salmon-pink); }
  
	  .blog-content-title a { color: inherit; }
  
	  .blog-content-text {
		text-transform: capitalize;
		color: var(--sonic-silver);
		font-size: var(--fs-6);
		margin-bottom: 15px;
	  }
	  footer {
		padding: 0px 0 86px;
		background-color: var(--eerie-black);
	  }
  
	  footer .container > div:not(:last-child) { border-bottom: 1px solid var(--onyx); padding: 50px 0;}
  
	  .top-footer-box-title {
		color: var(--salmon-pink);
		text-transform: uppercase;
		font-size: var(--fs-7);
		margin-bottom: 15px;
	  }
  
	  .top-footer-category-box {
		display: flex;
		flex-wrap: wrap;
		gap: 3px 15px;
		align-items: center;
		margin-bottom: 15px;
	  }
  
	  .footer-category-box-title {
		color: var(--spanish-gray);
		text-transform: uppercase;
		font-weight: var(--weight-600);
		font-size: var(--fs-8);
	  }
  
	  .footer-category-box-link {
		color: var(--davys-gray);
		text-transform: capitalize;
		padding: 0 8px 0 0;
		font-size: var(--fs-7);
		position: relative;
	  }
  
	  .footer-category-box-link:hover { color: var(--sonic-silver); }
  
	  .footer-category-box-link::after {
		position: absolute;
		right: -4px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		height: 13px;
		width: 1px;
		background-color: var(--sonic-silver);
		content: "";
  }
  
  
  
	  /* ////////////////////////////////// */
  
  
	  .center-footer-box { padding: 20px 0;}
  
	  .center-footer-lists {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		align-items: flex-start;
		gap: 20px;
		justify-content: space-between;
	  }
  
	  .list-title {
		color: var(--white);
		font-size: var(--fs-6);
		text-transform: uppercase;
		padding-bottom: 5px;
		margin-bottom: 20px;
		position: relative;
	  }
  
	  .list-title::after {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: var(--salmon-pink);
		height: 1px;
		width: 60px;
		content: "";
	  }
  
	  .center-footer-lists-list li { color: var(--sonic-silver); }
  
	  .center-footer-lists-list li a {
		color: inherit;
		font-size: var(--fs-6);
		text-transform: capitalize;
		margin-bottom: 10px;
		font-weight: var(--weight-400);
		transition: var(--transition-timing);
		-webkit-transition: var(--transition-timing);
		-moz-transition: var(--transition-timing);
		-ms-transition: var(--transition-timing);
		-o-transition: var(--transition-timing);
	  }
  
	  .center-footer-lists-list li:hover { color: var(--salmon-pink); } 
  
	  .follow-us {
		display: flex;
		gap: 10px;
		align-items: center;
	  }
  
	  .follow-us li a ion-icon { font-size: var(--fs-2); }
  
	  .contact-list {
		display: flex;
		gap: 15px;
		margin-bottom: 10px;
		font-size: var(--fs-6);
	  }
  
	  .contact-list-icon ion-icon {
		font-size: 30px;
	  }
  
	  /* ********** *******************************/
  
	  .bottom-footer-box {
		text-align: center;
		padding-top: 30px;
	  }
  
	  .bottom-footer-box img { 
		max-width: 335px; 
		width: 100%;
		margin: 0 auto 15px;
		object-fit: contain; 
		cursor: pointer;
	  }
   
	  .bottom-footer-box .copyright {
		font-size: var(--fs-7);
		color: var(--sonic-silver);
	  }
  